{% extends "playlist/layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'playlist/home.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="homepage-title">
            Unleash Your Musical Mood with Listify! <br>
            <span class="subheading">Start Creating and Curating Your Perfect Playlists Today</span>
        </h1>
        <a href="{% url 'register' %}" class="btn btn-custom">Get Started</a>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'playlist/home.js' %}"></script>
{% endblock %}
