{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Listify - Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'playlist/styles.css' %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="register-form" method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <h3>Register Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">

        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password">

        <button>Sign Up</button>
        <label class="link-label">Already have an account? <a href="{% url 'login' %}">Login</a></label>
        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
</html>
