{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>

    <!--Boxicons CDN-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' 
    rel='stylesheet'>

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'playlist/styles.css' %}">

</head>

<body>

    <div class="wrapper">
        <span class="rotate-bg"></span>
        <span class="rotate-bg2"></span>

        <div class="form-box login">
            <h2 class="title animation" style="--i:0; --j:21">Login</h2>

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="input-box animation" style="--i:1; --j:22">
                    <input name="username" type="text" required>
                    <label for="">Username</label>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box animation" style="--i:2; --j:23"></div>
                    <input name="email" type="email" required>
                    <label for="">Email</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="input-box animation" style="--i:2; --j:23">
                    <input name="password" type="password" required>
                    <label for="">Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>  

                <button type="submit" class="btn animation" style="--i:3; --j:24">Sign up</button>

                <div class="linkTxt animation" style="--i:5; --j:25">
                    <p>Already have an account? <a href="{% url 'login' %}" >Sign in</a></p>
                </div>

            </form>
        </div>

        <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:20">Welcome Back!</h2>
            <p class="animation" style="--i:1; --j:21">Your Personalized Music Experience Awaits Thanks for being part of our musical journey!</p>
        </div>

        
    <!--Script.js-->
    <script src="{% static 'playlist/script.js' %}"></script>
</body>

</html> 