{% extends "playlist/layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'playlist/playlist.css' %}">
{% endblock %}

{% block body %}

<h1>Playlists</h1>
<form>
    <input type="text" id="search" placeholder="Name for playlist">
    <button id="playlist-search">Search</button>
</form>

<div class="search-results">
    <div class="search-result">
        {% for playlist in playlists %}
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img src="{{playlist.snippet.thumbnails.medium.url}}" class="card-img-top" alt="{{playlist.snippet.description}}">
                <div class="card-body">
                    <h5 class="card-title">{{playlist.snippet.title}}</h5>
                    <p class="card-text">{{playlist.snippet.description}}</p>
                    <a href="" target="_blank" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


